* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
  }
  
  body {
    font-family: 'Sora', sans-serif;
    line-height: 1.6;
    max-width: 600px;
    margin: 40px auto;
    background-color: #f1f1f2;
    color: rgb(7, 25, 41);
  }
  
  header {
    text-align: center;
  }

  .post {
    margin: 20px 0;
    padding: 15px 25px;
    background: pink;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .post h3 {
    font-size: 25px;
  }
  
  .post li {
    margin: 5px 0;
  }
  
  .post .tags {
    margin-top: 20px;
    padding: 5px 10px;
    background: violet;
    color: #fff;
  }